#wrapper {
  height: auto !important;
  min-height: 32rem;
}

.panel {
  height: auto !important;
  justify-content: stretch;
}

.banner .image {
  overflow: hidden;
}

.banner .image img {
  transform: scale(1.1);
  object-position: 0%;
}

.banner h3 {
  font-family: "Source Sans Pro";
  font-size: 1.325rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.panel p {
  font-size: 1.325em;
}

.banner h4 {
  font-family: "Source Sans Pro";
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 1px;
}

.banner .actions {
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px !important;
}

.banner .actions li {
  margin-right: 10px;
}

.banner .actions .icon {
  display: inline-block;
  margin-left: 10px;
  font-size: 2em;
  vertical-align: bottom;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.banner .actions li a:hover .icon {
  transform: scale(1.2);
}
.banner .actions li a:hover .icon.fa-angle-right {
  transform: translateX(5px);
}
.banner .actions li.i18n-trigger a:hover {
  background-color: #fff2db;
}
.banner .actions li[data-language=en] a:hover .icon {
  transform: scale(1.2) rotate(10deg) translate(2px, -3px);
}

.banner .actions .croissant {
  margin-top: 20px;
  color: #ffa90f !important;
  transform: scale(0.8);
  transform-origin: left;
}

.banner .actions .croissant img {
  width: 30px;
  vertical-align: middle;
}

ul.contact-icons li {
  margin: 1.20rem 0 0 0;
}

ul.contact-icons li a {
  display: block;
}

ul.contact-icons li a span {
  display: inline-block;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: left;
}

ul.contact-icons li a span.image {
  transform-origin: center;
}

ul.contact-icons li a .image.fa-github {
  background: linear-gradient(180deg, #f8f9fa, transparent);
  background-size: 100% 200%;
  background-position-y: 80%;
  border: none;
}
ul.contact-icons li a .image.fa-github:before {
  font-size: 2em;
  color: black;
}

ul.contact-icons li a:hover span {
  transform: scale(1.1) translateX(5px);
  font-weight: bold;
}

ul.contact-icons li a:hover span.image {
  transform: scale(1.2);
  background: linear-gradient(180deg, #f8f9fa, #f8f9fa);
}

ul.contact-icons li .image {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  margin-right: 0.5em;
  border-radius: 50%;
  background: linear-gradient(180deg, #f8f9fa, #f8f9fa);
  border: 0.15em solid #f8f9fa;
  vertical-align: middle;
  overflow: hidden;
  transition: all 0.3s;
}

ul.contact-icons li .image img {
  width: 80%;
}

ul.contact-icons li .image.whole img {
  top: 0px;
  width: 100%;
}

.panel.color2 {
  background-image:
    url(../../assets/images/overlay.png), 
    linear-gradient(45deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.45) 50%, rgba(255, 228, 180, 1));
}

@media screen and (max-width: 736px) {
  #wrapper {
    margin: 0;
  }
  .banner .image img {
    object-position: 0% 45%;
  }
  .panel {
    max-width: 100vw;
  }
  .panel .form {
    padding: 20px;
  }
  h3 {
      font-size: 1.325rem;
  }
  ul.actions li {
    margin: 10px;
  }
  ul.actions li,
  ul.actions li a {
    width: 100%;
  }
  .copyright {
    padding-bottom: 14px;
  }
}